header {

  
    width:100%;
    background-color: grey;
  margin: 0px;
  padding: 10px;

}

body {
  color:darkgrey;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  color: black;

  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: red;
}




table {
  /* Para centrar usamos "auto" en la alineación horizontal */
  margin: 0 auto;
 
}

#redes{

  font-family: Arial, Helvetica, sans-serif;
}